/* a {
    background-color: black;
    color: #ffffff;
    padding: 3px;
    text-decoration: none;
    margin: 1px;
    border: 1px solid blue;
} */

/* div {
    color: rgb(0, 150, 30)
} */
a, a:hover {
    color: #333;
    text-decoration: none;
}

.likes-block {
    margin-top: 5px;
    display: flex;
    gap: 3px;
}

.likes-block button {
    border: none;
    background-color: white;
}

