<!DOCTYPE html>
<html>
<head>
    <title>Video List</title>
</head>
<body>
    <nav>
        <a href="/">Домой</a> |
        <a href="/admin">Админ панель</a> |
        <a href="/about/">О нас</a> |
        <a href="/playlists/">Плейлисты</a>
        <a href="/videos/">Spisokvideo</a>
    </nav>
    <h1>Video List</h1>
    <ul>
        {% for video in videos %}
            <li>
                <h2>{{ video.title }}</h2>
                   <p>{{ video.description }}</p>
                   <p><a href="{{ video.url }}" target="_blank">smotret video</a></p>
               </li>
        {% endfor %}
    </ul>
</body>
</html>
