{% extends 'base.html' %}

{% block content %}
    <h1>{{ video.name }}</h1>
    <h2>Лайков: {{ video.likes }}</h2>
    <p>
        <video width="500" controls src="{{ video.file_path.url }}">
        </video>
    </p>
    <a href="{% url 'video-update' video.id %}" class="btn btn-warning">Изменить</a>
    <a href="{% url 'video-delete' video.id %}" class="btn btn-danger">Удалить</a>
    <hr>
    <h2>Комментарии</h2>
    {% for comment in video.comment_set.all %}
        <p>
            {{ comment.txt }}
        </p>
        
    <div>
        <p>Автор: {{ comment.author }}</p>
        <p>Дата комментария: {{ comment.created_at }}</p>
        <p>{{ comment.txt }}</p>
    </div>
     {% endfor %}
{% endblock %}    
  