{% extends 'base.html' %}

{% block content %}
    <h1>{{ video.name }}</h1>
    <h2>Лайков: {{ video.likes }}</h2>
    <p>
        <video width="500" controls src="{{ video.file_path.url }}">
        </video>
    </p>
    <a href="{% url 'video-update' video.id %}" class="btn btn-warning">Изменить</a>
    <a href="{% url 'video-delete' video.id %}" class="btn btn-danger">Удалить</a>
    <hr>
    <h2>Комментарии</h2>
    {% for comment in video.comment_set.all %}
        <p>
            {{ comment.txt }}
        </p>
    {% endfor %}
{% endblock %}